*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container01{
    display: flex;
    width: 550px;
    height: 280px;
    background-color: rgb(240, 238, 235);
    border-radius: 45px;
}  
.first{
    width: 50%;
    height: auto;
    /* border: 1px solid black; */
    border-radius: 45px;
    padding: 45px;
    /* gap: 93; */
}    
/* .second{
    width: 60%;
    height: 3000px;
    border: 2px solid rgb(244, 0, 0);
    border-radius: 45px;
}  */

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    /* border: 1px solid black; */
    border-radius: 45px;
}
.first1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 210px;
    /* border: 1px solid black;  */
}

/* Now Box 2 */

.maine{
    font-size: 40px ;
}
