body {
    background-color: azure;
}

.on {
    display: flex;
    justify-content: center;
}

.to {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.for {
    margin: auto;
    width: 530px;
    height: 400px;
    background-color: rgba(245, 245, 245, 0.98);
    margin-top: 20px;
}

h1 {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

.to {
    color: rgb(0, 0, 0);
}


input {
    font-size: 18px;
    padding: 14px 16px;
    margin-left: 10px;
    margin-bottom: 6px;
    font-weight: 600;
    width: 470px;
}

button {
    font-weight: 600;
    font-size: 18px;
    padding: 14px 16;
    width: 500px;
    margin-top: 20px;
    background-color: blue;
    height: 50px;
    border-radius: 9px;
    border: none;
    width: 530;
    margin-left: 10px;
    margin-right: 15px;
    color: white;

}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.next {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-left: 100px;
}
input:hover{
    border: 2px solid black;
}
button:hover{
    border: 2px solid black;
}