*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
body{
    line-height: 1.4;
    scroll-behavior: smooth;
    font-weight: 300;
    background-color: rgb(218, 235, 218)
}
a{
    text-decoration: none;
}
body{
    display: flex;
}
header{
    border: 1px solid #000;
    height: 150vh;
}
nav h1{
    padding: 10px;
    color: black;
    border-bottom: 2px solid #000;
    font-family: 'Times New Roman', Times, serif;
}
a {
    padding: 10px;
    color: rgb(86, 86, 162);
    font-size: x-large;
}

h1 {
    scroll-behavior: smooth;
}

nav ul li{
    border-bottom: 1px solid #000;
    padding: 10px;
}

nav ul li :hover{
    background-color: #ccc;
    transition-duration: 1s;
}

main  {
    padding-left: 50px;
    max-width: 1200px;
}

section{
    margin-bottom: 50px;
}

section article{
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section h2{
    border-bottom: 2px solid #ccc;
    margin-bottom: 25px;
    padding-bottom: 10px;
    font-size: 35px;
    font-family: opacity;
}
section article ul li{
    margin-bottom: 30px;
}
